#
# CircleCI configuration
#

version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Artifact build
          command: ./gradlew clean build

      - run:
          name: Deploy java artifacts to sonatype OSSHR
          command: ./gradlew publish -s

      - save_cache:
          when: always
          key: v1-dependencies-{{ checksum "build.gradle" }}
          paths:
            - ~/.m2
            - ~/.gradle
            - ~/.cache
            - ~/bin

# vim:shiftwidth=2 softtabstop=2 expandtab
# EOF
